@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

@import '~bootstrap-material-design/scss/bootstrap-material-design'; // Body
@import 'variables'; // Variables
@import 'functions';
@import 'node_modules/bootstrap/scss/variables'; // bootstrap variables
@import './showToggler';
//@import './graphs';
@import './button';
@import './menu';
@import 'input';
@import 'form-group';
@import 'table';
@import 'cards';
@import 'common';

body {
  background-color: $white;
  font-family: $font-family;
}

main {
  padding-bottom: 20px;
  --primary-light: #EFF7F4;
}

.form-control {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
h1 {
  color: #000;
  font-size: 30px;
  line-height: 39px;
  font-weight: 600;
}

h4{
  margin-top: 2em;
}

.form-small {
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 400px;
}
*:disabled,
.disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, .5);
}
a:not([href]):not([class]){
  color: map-get($theme-colors, 'primary');
  cursor: pointer;
  &:hover{
    color: map-get($theme-colors, 'primary');
    text-decoration: underline;
  }
}
#loading {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  animation-name: load;
  animation-duration: 4000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  background-color: map-get($theme-colors, primary);
  width: 50%;
  height: 5px;
}
.alert {
  position: relative;
  padding-right: 3em;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: auto;
    left: auto;
    cursor: pointer;
  }
}

a {
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
  color: black;
  font-weight: normal;

  &:hover {
    text-decoration: underline;
    color: map-get($theme-colors, primary);
  }

  &focus {
    color: black;
  }

  &:disabled,
  .disabled {
    color: #0000004D;
  }
}

.form-head {
  display: flex;
  justify-content: space-between;
  .form-menu {
    display: flex;
    gap: 12px;
  }
  h2{
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
  }
}
@keyframes load {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(200%);
  }
}

.center-content {
  margin: auto;
  text-align: center;
}

img {
  max-width: 100%;
}

.pagination {
  .page-link {
    cursor: pointer;
  }
}